[submodule "deps/nuklear"]
	path = deps/nuklear
	url = https://github.com/vurtun/nuklear.git
[submodule "deps/common"]
	path = deps/common
	url = https://github.com/libretro/libretro-common.git
[submodule "deps/libretro"]
	path = deps/libretro
	url = https://github.com/libretro/libretro-common.git
[submodule "deps/inih"]
	path = deps/inih
	url = https://github.com/benhoyt/inih.git
[submodule "deps/cimgui"]
	path = deps/cimgui
	url = https://github.com/cimgui/cimgui.git
