[submodule "deps/nuklear"]
	path = deps/nuklear
	url = https://github.com/vurtun/nuklear.git
[submodule "deps/common"]
	path = deps/common
	url = https://github.com/libretro/libretro-common.git
[submodule "deps/libretro"]
	path = deps/libretro
	url = https://github.com/libretro/libretro-common.git
[submodule "deps/inih"]
	path = deps/inih
	url = https://github.com/benhoyt/inih.git
[submodule "deps/cimgui"]
	path = deps/cimgui
	url = https://github.com/cimgui/cimgui.git
[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "deps/toml"]
	path = deps/toml
	url = https://github.com/marzer/tomlplusplus.git
[submodule "assets"]
	path = assets
	url = git@git.retromods.org:radius/invader-assets.git
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb
