name: windows-build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: numworks/setup-msys2@v1
      with:
        msystem: UCRT64
    - run: msys2do pacman -S --noconfirm --needed libintl
    - run: msys2do pacman -S --noconfirm --needed cmake ninja mingw-w64-ucrt-x86_64-toolchain mingw-w64-ucrt-x86_64-sdl3 mingw-w64-ucrt-x86_64-vulkan-headers mingw-w64-ucrt-x86_64-vulkan-loader
    - uses: actions/checkout@v2
      with:
        submodules: 'true'
    - name: cmake
      run: |
        msys2do cmake -S . -B build -G Ninja
        msys2do cmake --build build

    - name: upload
      if: github.event_name == 'push'
      uses: actions/upload-artifact@v2
      with:
        name: windows-build
        path: invader_imgui_sdl2.exe
